
/** adding in the .app-container and .home-page class as a wrapper will break this css */
.app-container{
  .content-container{
    
  
 .tester-sec.profile-page{
  width: 100%;
 }
 .messenger{
   background: red; 
 }
}
}


.app-container.home-page .profile-page{

  
  // grid-template-columns: 15% 65% 20%;
  position: relative; 
  display: grid; 
  grid-template-columns: 1fr 3fr;
 
  .user-img{
    
    background: yellow;
    width:200px;
    
    
  }
  .info{
    padding: 20px; 
    h1{
      font-size: 2rem;
      margin: 1rem 0; 
     
    }
  }
  .follow-btn{
    background:$lightsideBlue; 
    display: inline-block; 
    padding: 15px 25px; 
    border-radius: 4px; 
    border: 1px solid $darksideBlue;
    color: white; 
    cursor: pointer;  
  }
  }
 
